<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">

    </script>
    <style type="text/css">
        #title{
            width: 200px;
            height: 50px;
            font-size: 24px;
            text-align: center;
            padding: 2px;
            color: skyblue;
            font-weight: 700;
            border: 1px solid red;
            background-color: bisque;
        }
    </style>
</head>
<body>
<div id="title">
    这是一个音乐姐界面
</div>
<div id="mp3">
    <audio controls>
        <!--<source src="mp3/有何不可.mp3" type="audio/mpeg">-->
        <source src="mp3/有何不可.mp3" type="audio/mpeg">
    </audio>
</div>
<img src="img/QQ图片20200727092806.png">
</body>
</html>